NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=
SANITY_API_WRITE_TOKEN=skQBkv2UHqaGP6dPk2d8zAB9Sh7K9tnAQ5rnmf4mi2ENkNSd69Zsn382Bu0ch8TEQP6wD1xAWbhPqAgNtxQRYB2s8r5FKdm4TsekeUXfFWyzxiFlwY8D5DXbNWEXtLayZbrmoSom4dThVBitFispYBNViJi23fHKc5xRWEOcVcfNZeSI8hLl
NEXT_PUBLIC_JACKRABBIT_ENROLL_URL=https://app.jackrabbitclass.com/regv2.asp?id=531584
